
.table {
    width: 100%;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.cell {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
}

.image-cell {
    max-width: 150px; /* Establece el ancho máximo de las celdas de imagen */
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}


.logros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 500%;
    padding: 50px 0;
    width: 100%;
    min-height: calc(85vh - 70px) !important;
}

.part img{
    width: 250px;
    height: 166px;
    max-width: 100%;
    object-fit: cover;

}
.part:hover{
    transform: scale(1.05);
}

.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    transition: all .3s ease-in-out;
}

@media(max-width: 768px){
    .logros{
        flex-direction: column;
    }
}

.part p{
    font-size: 10px;
}

.not h1{
    left: 40%;
    font-size: 30px;
    position: absolute;
    top: 485%;
}
.logros{
    background-color: #f9f9f9;
}

.contact{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 570%;
    padding: 50px 0;
    width: 100%;
    min-height: calc(85vh - 70px) !important;
}
.contact_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
h3{
    padding: 0;
    margin-bottom: 0;
}
p{
    padding: 0;
    margin: 0;
}

#map{
    height: 100%;
    width: 100%;
}