.s123-module-testimonials .carousel.slide {
    padding:0 0 30px 0;
    margin-top:30px;
}
.s123-module-testimonials .carousel-control {
    background:none !important;
    color:inherit;
    font-size:2.3em;
    text-shadow:none;
    margin-top:30px;
    cursor:pointer;
}
.s123-module-testimonials .carousel-indicators {
    bottom:0;
}
.s123-module-testimonials .carousel-indicators li {
    background:#c0c0c0;
}
.s123-module-testimonials .carousel-indicators .active {
    background:#333333;
}
.s123-module-testimonials .img-bg {
    width:235px;
    height:160px;
    margin-bottom:20px;
    background-size:cover;
}
.s123-module-testimonials img {
    max-width:100%;
    max-height:160px;
    margin-bottom:20px;
}
.s123-module-testimonials .item blockquote {
    border-left:none;
    margin:0;
}
.s123-module-testimonials:not(.layout-8):not(.layout-9) .item blockquote p i {
    float:left;
    margin-right:10px;
}
.s123-module-testimonials .item blockquote p {
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-module-testimonials .item blockquote small {
    color:inherit;
}
html[dir=rtl] .s123-module-testimonials .item blockquote {
    border-right:none;
}
html[dir=rtl] .s123-module-testimonials:not(.layout-8):not(.layout-9) .item blockquote p i {
    float:right;
    margin-right:0;
    margin-left:10px;
}
@media (min-width:768px) {
    .s123-module-testimonials .carousel.slide {
        padding:0 100px 30px 100px;
        margin:0;
    }
    .s123-module-testimonials .img-bg,
    .s123-module-testimonials img {
        margin-bottom:0;
    }
}
@media (max-width:768px) {
    .s123-module-testimonials .carousel-indicators {
        bottom:-20px !important;
    }
    .s123-module-testimonials .carousel-indicators li {
        display:inline-block;
        margin:0 5px;
        width:15px;
        height:15px;
    }
    .s123-module-testimonials .carousel-indicators li.active {
        margin:0 5px;
        width:20px;
        height:20px;
    }
}
.s123-module-testimonials.layout-1 .carousel-inner .rating-area {
    display:flex;
    gap:10px;
    margin-bottom:16px;
}
.s123-module-testimonials.layout-1 .carousel-inner .rating-area i.svg-m,
.s123-module-testimonials.layout-1 .carousel-inner .rating-area i.fa-star {
    color:#ffbf00;
}
.s123-module-testimonials.layout-1 .carousel-inner .rating-area i.svg-m {
    background-color:#ffbf00;
}
.s123-module-testimonials.layout-1 .testimonials-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-testimonials.layout-1 .img-circle-bg,
.s123-module-testimonials.layout-1 img {
    width:220px;
    height:220px;
    max-height:220px;
    max-width:220px;
    object-fit:cover;
    object-position:center;
    box-shadow:0px 4px 10px rgb(0 0 0 / 10%);
    background-size:cover;
}
.s123-module-testimonials.layout-1 .testimonial-flex {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
}
.s123-module-testimonials.layout-1 .testimonial-text-description {
    position:relative;
    margin-bottom:24px;
}
.s123-module-testimonials.layout-1 .item blockquote {
    padding:10px 30px;
}
.s123-module-testimonials.layout-1 .testimonial-start-quote,
.s123-module-testimonials.layout-1 .testimonial-closing-quote {
    position:absolute;
    margin:0 !important;
}
.s123-module-testimonials.layout-1 .testimonial-start-quote {
    left:-25px;
    top:0;
}
html[dir=rtl] .s123-module-testimonials.layout-1 .testimonial-start-quote {
    right:-25px;
    left:auto;
}
.s123-module-testimonials.layout-1 .testimonial-closing-quote {
    right:-25px;
    bottom:0;
}
html[dir=rtl] .s123-module-testimonials.layout-1 .testimonial-closing-quote {
    right:auto;
    left:-25px;
}
.s123-module-testimonials.layout-1 .testimonial-name {
    position:relative;
}
.s123-module-testimonials.layout-1 .testimonial-name::before {
    content:'';
    top:-12px;
    height:4px;
    width:40px;
    background-color:var(--global_main_color);
    position:absolute;
}
@media (max-width:768px) {
    .s123-module-testimonials.layout-1 blockquote {
        padding-inline:40px;
    }
    .s123-module-testimonials.layout-1 .testimonial-flex {
        flex-direction:column;
    }
    .s123-module-testimonials.layout-1 .img-circle-bg,
    .s123-module-testimonials.layout-1 img {
        box-shadow:0px 40px 50px rgba(0, 0, 0, 0.1);
    }
}
html[dir=rtl] .s123-module-testimonials.layout-1 .carousel-indicators {
    padding-right:0;
}
.s123-module-testimonials.layout-1 .carousel-control {
    margin:0;
    transform:translateY(50%);
    bottom:calc(100% - 110px);
}
.s123-module-testimonials.layout-1 .carousel-control.left {
    display:flex;
    align-items:center;
}
html[dir=rtl] .s123-module-testimonials.layout-1 .carousel-control.left {
    justify-content:flex-end;
}
.s123-module-testimonials.layout-1 .carousel-control.right {
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
html[dir=rtl] .s123-module-testimonials.layout-1 .carousel-control.right {
    justify-content:flex-start;
}
.s123-module-testimonials.layout-1 .testimonial-divider {
    opacity:0.3;
}
.s123-module-testimonials.layout-2 .rating-area {
    text-align:center;
    margin-top:15px;
}
.s123-module-testimonials.layout-2 .box {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
}
.s123-module-testimonials.layout-2 .rating-area i.svg-m,
.s123-module-testimonials.layout-2 .rating-area i.fa-star {
    margin-right:5px;
    color:#ffbf00;
}
html[dir=rtl] .s123-module-testimonials.layout-2 .rating-area i.svg-m,
html[dir=rtl] .s123-module-testimonials.layout-2 .rating-area i.fa-star {
    margin-right:0px;
    margin-left:5px;
}
.s123-module-testimonials.layout-2 .rating-area i.svg-m {
    background-color:#ffbf00;
}
.s123-module-testimonials.layout-2 .testimonials-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-testimonials.layout-2 .rule-title {
    margin-top:8px;
    font-style:italic;
    font-size:90%;
}
.s123-module-testimonials.layout-3 .rating-area {
    margin-top:10px;
}
.s123-module-testimonials.layout-3 .rating-area i.svg-m,
.s123-module-testimonials.layout-3 .rating-area i.fa-star {
    margin-right:5px;
    color:#ffbf00;
}
html[dir=rtl] .s123-module-testimonials.layout-3 .rating-area i.svg-m,
html[dir=rtl] .s123-module-testimonials.layout-3 .rating-area i.fa-star {
    margin-right:0px;
    margin-left:5px;
}
.s123-module-testimonials.layout-3 .rating-area i.svg-m {
    background-color:#ffbf00;
}
.s123-module-testimonials.layout-3 .testimonials-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-testimonials.layout-4 .testimonials-text-container {
    margin-bottom:40px;
    clear:both;
}
@media ( min-width:768px ) {
    .s123-module-testimonials.layout-4 .testimonials-text-container {
        clear:none;
    }
    .s123-module-testimonials.layout-4 .testimonials-text-container:nth-child(odd) {
        clear:both;
    }
}
@media ( min-width:970px ) {
    .s123-module-testimonials.layout-4 .testimonials-text-container:nth-child(odd) {
        clear:none;
    }
    .s123-module-testimonials.layout-4 .testimonials-text-container:nth-child(3n+1) {
        clear:both;
    }
}
.s123-module-testimonials.layout-4 .testimonials-text-container blockquote {
    border-left:none;
    border-right:none;
    margin:0;
    padding:0;
}
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonial-style-5,
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonial-style-6,
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonial-style-7 {
    padding:48px;
}
.s123-module-testimonials.layout-4 .testimonials-text-container blockquote p i {
    margin-right:10px;
}
.s123-module-testimonials.layout-4 .testimonials-text-container blockquote p .t-quota i {
    margin-left:10px;
}
html[dir=rtl] .s123-module-testimonials.layout-4 .testimonials-text-container blockquote p i {
    margin-right:0;
    margin-left:10px;
}
html[dir=rtl] .s123-module-testimonials.layout-4 .testimonials-text-container blockquote p .t-quota i {
    margin-right:10px;
    margin-left:0;
}
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonial-style-5 blockquote p i,
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonial-style-6 blockquote p i,
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonial-style-7 blockquote p i {
    opacity:10%;
}
.s123-module-testimonials.layout-4 .testimonials-text-container blockquote p {
    margin-bottom:24px;
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-module-testimonials.layout-4 .testimonials-img .img-bg {
    height:175px;
    width:292px;
    max-width:100%;
    background-size:cover;
    margin-bottom:24px;
}
.s123-module-testimonials.layout-4 .testimonials-img img {
    height:100%;
    max-height:195px;
    margin-bottom:24px;
    object-position:center;
    object-fit:cover;
}
.s123-module-testimonials.layout-4 .testimonials-text-container blockquote small:before {
    content:none;
}
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonials-wrap {
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-bottom:16px;
}
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonials-role {
    font-style:italic;
    display:block;
}
.s123-module-testimonials.layout-4 .testimonials-text-container .testimonials-name {
    font-size:15px;
}
.s123-module-testimonials.layout-4 .rating-area {
    display:flex;
    gap:10px;
}
.s123-module-testimonials.layout-4 .rating-area i.svg-m {
    background-color:#ffbf00 !important;
}
.s123-module-testimonials.layout-4 .testimonials-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-testimonials.layout-8 .testimonial-container {
    display:flex;
    flex-direction:column;
}
@media (min-width:767px) {
    .s123-module-testimonials.layout-8 .testimonial-container {
        flex-direction:row;
        align-items:normal;
    }
}
.s123-module-testimonials.layout-8 .carousel.slide {
    padding:0px;
    margin:0;
}
@media (min-width:767px) {
    .s123-module-testimonials.layout-8 .carousel.slide {
        padding:0 0 30px;
    }
}
@media (min-width:992px) {
    .s123-module-testimonials.layout-8 .carousel.slide {
        padding:0 50px 30px 50px;
    }
}
.s123-module-testimonials.layout-8 blockquote {
    padding:10px 12px 25px 12px;
}
@media (min-width:992px) {
    .s123-module-testimonials.layout-8 blockquote {
        padding:10px 0px 25px 0px;
    }
}
@media (min-width:767px) {
    .s123-module-testimonials.layout-8 .testimonial-container .testimonial-item {
        flex-grow:0;
        flex-shrink:0;
        flex-basis:50%;
        max-width:50%;
    }
}
.s123-module-testimonials.layout-8 .testimonial-container .testimonial-wrap {
    display:flex;
    flex-direction:column;
    gap:8px;
}
.s123-module-testimonials.layout-8 .testimonial-container .testimonial-image {
    height:300px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
@media (max-width:767px) {
    .s123-module-testimonials.layout-8 .testimonial-container .testimonial-image {
        min-height:0 !important;
    }
}
@media (min-width:767px) {
    .s123-module-testimonials.layout-8 .testimonial-container .testimonial-image {
        height:100%;
        width:100%;
    }
}
.s123-module-testimonials.layout-8 .testimonial-container .testimonial-statement {
    padding:24px 16px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:16px;
}
@media (min-width:767px) {
    .s123-module-testimonials.layout-8 .testimonial-container .testimonial-statement {
        gap:24px;
    }
    .s123-module-testimonials.layout-8 .testimonial-container .testimonial-statement {
        padding:50px 40px;
    }
}
@media (min-width:992px) {
    .s123-module-testimonials.layout-8 .testimonial-container .testimonial-statement {
        padding:48px;
    }
}
.s123-module-testimonials.layout-8 .testimonial-container .testimonial-title {
    font-size:70%;
    text-transform:uppercase;
}
@media (min-width:767px) {
    .s123-module-testimonials.layout-8 .testimonial-container .testimonial-title {
        font-size:inherit;
    }
}
.s123-module-testimonials.layout-8 .testimonial-container .testimonial-name {
    margin:0px;
    font-weight:600;
}
.s123-module-testimonials.layout-8 .testimonial-container .testimonial-name h2 {
    margin:0px;
}
.s123-module-testimonials.layout-8.item blockquote p {
    margin-bottom:0;
}
.s123-module-testimonials.layout-8 .carousel-inner .rating-area {
    display:flex;
    gap:10px;
}
.s123-module-testimonials.layout-8 .carousel-inner .rating-area i.svg-m,
.s123-module-testimonials.layout-8 .carousel-inner .rating-area i.fa-star {
    color:#ffbf00;
}
.s123-module-testimonials.layout-8 .carousel-inner .rating-area i.svg-m {
    background-color:#ffbf00;
}
.s123-module-testimonials.layout-8 .testimonial-link {
    width:fit-content;
}
.s123-module-testimonials.layout-8 .testimonials-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-testimonials.layout-8 .carousel-control {
    margin-top:auto !important;
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:space-around;
    opacity:0.5;
}
@media (max-width:767px) {
    .s123-module-testimonials.layout-8 .carousel-control {
        bottom:calc(100% - 620px);
    }
}
.s123-module-testimonials.layout-8 .testimonial-chevron {
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:40px;
    height:40px;
    background-color:#fff;
    border-radius:50px;
}
@media (min-width:992px) {
    .s123-module-testimonials.layout-8 .testimonial-chevron {
        display:flex;
        align-items:center;
        justify-content:space-around;
        width:auto;
        height:auto;
        background-color:transparent;
        border-radius:50px;
    }
}
.s123-module-testimonials.layout-8 .testimonial-chevron i {
    color:#333333;
}
@media (max-width:991px) {
    .s123-module-testimonials.layout-8 .testimonial-chevron i {
        font-size:1.2rem;
    }
}
.s123-module-testimonials.layout-8 .carousel-control.left {
    justify-content:flex-start;
}
html[dir="rtl"] .s123-module-testimonials.layout-8 .carousel-control.left {
    justify-content:flex-end;
}
.s123-module-testimonials.layout-8 .carousel-control.right {
    justify-content:flex-end;
}
html[dir="rtl"] .s123-module-testimonials.layout-8 .carousel-control.right {
    justify-content:flex-start;
}
.s123-module-testimonials.layout-8 .testimonial-chevron.right {
    float:right;
}
html[dir="rtl"] .s123-module-testimonials.layout-8 .testimonial-chevron.right {
    float:none;
}
.s123-module-testimonials.layout-8 .testimonial-chevron.left {
    float:none;
}
html[dir="rtl"] .s123-module-testimonials.layout-8 .testimonial-chevron.left {
    float:left;
}
.s123-module-testimonials.layout-8 .testimonial-chevron.right i:before {
    margin-left:2px;
}
html[dir="rtl"] .s123-module-testimonials.layout-8 .testimonial-chevron.right i:before {
    margin-left:auto;
    margin-right:2px;
}
.s123-module-testimonials.layout-8 .testimonial-chevron.left i:before {
    margin-right:2px;
}
html[dir="rtl"] .s123-module-testimonials.layout-8 .testimonial-chevron.left i:before {
    margin-right:auto;
    margin-left:2px;
}
.s123-module-testimonials.layout-8 .carousel-indicators li {
    margin:0px 8px;
    height:12px;
    width:12px;
}
html[dir=rtl] .s123-module-testimonials.layout-8 .carousel-indicators {
    padding-right:0;
}
.s123-module-testimonials.layout-9 .testimonial-image-container {
    display:flex;
    justify-content:space-around;
}
.s123-module-testimonials.layout-9 .testimonial-image {
    width:220px;
    height:220px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow:0px 40px 50px rgba(0, 0, 0, 0.1);
}
.s123-module-testimonials.layout-9 .testimonial-quote-container {
    margin-bottom:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    margin-top:-40px;
}
.s123-module-testimonials.layout-9 .testimonial-quote-container.testimonial-no-image {
    margin-top:0;
}
html[dir=rtl] .s123-module-testimonials.layout-9 .testimonial-quote-container {
    flex-direction:row-reverse;
}
.s123-module-testimonials.layout-9 .testimonial-quote {
    width:4.2rem;
    height:4.2rem;
    display:flex;
    align-items:center;
    justify-content:space-around;
    color:#fff;
}
.s123-module-testimonials.layout-9 .testimonial-quote .svg-m {
    background-color:#fff;
}
.s123-module-testimonials.layout-9 p {
    line-height:2;
    text-align:center;
    margin-bottom:32px;
}
.s123-module-testimonials.layout-9 .item {
    padding:0rem 0.8rem;
}
.s123-module-testimonials.layout-9 .item .testimonial-wrap {
    display:flex;
    flex-direction:column;
    gap:16px;
}
.s123-module-testimonials.layout-9 .carousel-inner .rating-area {
    display:flex;
    gap:10px;
    margin-bottom:32px;
    justify-content:center;
}
.s123-module-testimonials.layout-9 .carousel-inner .rating-area i.svg-m,
.s123-module-testimonials.layout-9 .carousel-inner .rating-area i.fa-star {
    color:#ffbf00;
}
.s123-module-testimonials.layout-9 .carousel-inner .rating-area i.svg-m {
    background-color:#ffbf00;
}
.s123-module-testimonials.layout-9 .testimonial-link,
.s123-module-testimonials.layout-9 .testimonial-title,
.s123-module-testimonials.layout-9 .testimonial-name {
    text-align:center;
}
.s123-module-testimonials.layout-9 .testimonial-name {
    font-weight:600;
    text-transform:uppercase;
}
.s123-module-testimonials.layout-9 .carousel-control {
    margin-top:calc(176px + 3.9rem);
}
@media (min-width:992px) {
    .s123-module-testimonials.layout-9 .carousel-control {
        margin-top:calc(172px + 3.9rem);
    }
}
.s123-module-testimonials.layout-10 .testimonial-item-container {
    margin-bottom:50px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:10px;
}
.s123-module-testimonials.layout-10 .testimonial-item-row {
    margin:0;
}
.s123-module-testimonials.layout-10 .testimonial-item-container.bgCustomizeStyle {
    padding:10px;
}
@media(max-width:767px) {
    .s123-module-testimonials.layout-10 .testimonial-item-container {
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
}
.s123-module-testimonials.layout-10 .testimonials-category .row:last-child .testimonial-item-container {
    margin-bottom:0;
}
.s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-bg-image {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:32px;
    height:250px;
    width:250px;
}
.s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-info-container {
    width:250px;
    display:flex;
    flex-direction:column;
    gap:16px;
}
.s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-wrap {
    display:flex;
    flex-direction:column;
    gap:8px;
}
@media(min-width:768px) {
    .s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-bg-image {
        height:160px;
        width:160px;
        margin-bottom:0;
    }
    .s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-info-container {
        width:calc(100% - 160px);
        padding-left:40px;
        text-align:left;
    }
    html[dir=rtl] .s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-info-container {
        text-align:right;
        padding-right:40px;
        padding-left:0;
    }
}
.s123-module-testimonials.layout-10 .testimonial-item-container .rating-area,
.s123-module-testimonials.layout-10 .testimonial-item-container p.text-opacity,
.s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-info-container h3 {
    margin:0;
}
.s123-module-testimonials.layout-10 .testimonial-item-container .testimonial-info-container h3 {
    font-weight:bold;
}
.s123-module-testimonials.layout-10 .text-opacity {
    opacity:0.7;
}
.s123-module-testimonials.layout-10 .testimonial-text-content {
    overflow-wrap:break-word;
    overflow:hidden;
    margin-bottom:10px;
}
.s123-module-testimonials.layout-10 .testimonial-info-container .btn {
    align-self:flex-start;
}
.s123-module-testimonials.layout-10 .testimonial-item-container.background-primary-color .testimonial-info-container a,
.s123-module-testimonials.layout-10 .testimonial-item-container.bg-primary-black .testimonial-info-container a {
    color:#fff;
}
.s123-module-testimonials.layout-10 .rating-area {
    display:flex;
    gap:10px;
}
@media(max-width:767px) {
    .s123-module-testimonials.layout-10 .rating-area {
        align-self:center;
    }
    .s123-module-testimonials.layout-10 .testimonial-info-container .btn {
        align-self:center;
    }
}
.s123-module-testimonials.layout-10 .rating-area i.svg-m,
.s123-module-testimonials.layout-10 .rating-area i.fa-star {
    color:#ffbf00;
}
.s123-module-testimonials.layout-10 .rating-area i.svg-m {
    background-color:#ffbf00;
}
.s123-module-testimonials.layout-10 .testimonials-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
@media(max-width:767px) {
    .s123-module-testimonials.layout-10 .testimonial-item-container .no-img-mobile {
        display:none;
    }
}
.s123-module-testimonials.layout-11 .rating-area {
    margin-bottom:8px;
}
.s123-module-testimonials.layout-11 .box {
    border-radius:16px;
    padding:32px;
    height:fit-content;
    margin-bottom:16px;
}
.s123-module-testimonials.layout-11 .img-layout-11 {
    aspect-ratio:1/1;
    background-position:center;
    background-size:cover;
    height:48px;
    width:48px;
}
.s123-module-testimonials.layout-11 .top-layout-11 {
    display:flex;
    gap:8px;
    align-items:center;
    margin-bottom:16px;
}
.s123-module-testimonials.layout-11 .grid-layout-11 {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-auto-columns:1fr;
    gap:16px;
}
.s123-module-testimonials.layout-11 .title-layout-11 {
    font-size:.75rem;
}
.s123-module-testimonials.layout-11 .description-layout-11 {
    margin:0;
    opacity:.7;
}
.s123-module-testimonials.layout-11 .link-layout-11 {
    display:block;
    margin-top:8px;
}
.s123-module-testimonials.layout-11 .rating-area i.svg-m,
.s123-module-testimonials.layout-11 .rating-area i.fa-star {
    margin-right:5px;
    color:#ffbf00;
}
html[dir=rtl] .s123-module-testimonials.layout-11 .rating-area i.svg-m,
html[dir=rtl] .s123-module-testimonials.layout-11 .rating-area i.fa-star {
    margin-right:0px;
    margin-left:5px;
}
.s123-module-testimonials.layout-11 .rating-area i.svg-m {
    background-color:#ffbf00;
}
.s123-module-testimonials.layout-11 .testimonials-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-testimonials.layout-11 .rule-title {
    margin-top:8px;
    font-style:italic;
    font-size:90%;
}
@media (max-width:767px) {
    .s123-module-testimonials.layout-11 .grid-layout-11 {
        grid-template-columns:1fr;
    }
    .s123-module-testimonials.layout-11 .grid-layout-11 .item-col-layout-11 .box:last-child {
        margin-bottom:0;
    }
}
.s123-module-services.layout-1 {
    padding:50px 0;
}
.s123-module-services.layout-1 .features-container {
    margin-bottom:-30px;
}
.s123-module-services.layout-1 .service-item p {
    white-space:pre-wrap;
    word-wrap:break-word;
    overflow:hidden;
}
.s123-module-services.layout-1 .service-item {
    margin-bottom:51px;
    display:flex;
    flex-direction:column;
}
.s123-module-services.layout-1 .service-item .service-video-container {
    width:132px;
    height:132px;
    align-self:center;
    border-radius:100%;
    overflow:hidden;
    margin:5px;
}
.s123-module-services.layout-1 .service-item .service-video-container .services_illustration_video {
    width:100%;
    height:100%;
}
.s123-module-services.layout-1 .service-item .fa-stack {
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    margin:5px 5px 22px;
    align-self:center;
}
@media(max-width:767px) {
    .s123-module-services.layout-1 .service-item .fa-stack {
        margin-bottom:14px;
    }
}
.s123-module-services.layout-1 .service-item .fa-stack img {
    width:1em;
    height:auto;
}
.s123-module-services.layout-1 .service-item p {
    margin-bottom:32px;
}
@media(max-width:767px) {
    .s123-module-services.layout-1 .service-item p {
        margin-bottom:24px;
    }
}
.s123-page-data-services.layout-1 p {
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-module-services.layout-1 .service-item .servcies-more-link {
    align-self:center;
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-page-data-services.layout-1 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-services.layout-2 {
    padding:50px 0;
}
.s123-module-services.layout-2 .features-container {
    margin-bottom:-30px;
}
.s123-module-services.layout-2 .service-item p {
    white-space:pre-wrap;
    word-wrap:break-word;
    overflow:hidden;
}
.s123-module-services.layout-2 .service-item {
    margin-bottom:56px;
}
.s123-module-services.layout-2 .service-item .service-item-title {
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;
    line-height:1.3;
    gap:24px;
}
@media ( min-width:768px ) {
    .s123-module-services.layout-2 .services-row-4 .service-item .service-item-title .service-title-text {
        text-align:start;
        max-width:140px;
    }
}
.s123-module-services.layout-2 .service-item h4.service-layout-2-video {
    display:inline-flex;
    align-items:center;
    width:100%;
    justify-content:center;
}
.s123-module-services.layout-2 .service-item .service-video-container {
    width:2.5rem;
    height:2.5rem;
    border-radius:100%;
    overflow:hidden;
    margin:5px;
}
.s123-module-services.layout-2 .service-item .service-video-container .services_illustration_video {
    width:100%;
    height:100%;
}
.s123-module-services.layout-2 .service-item .fa-stack {
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    margin:5px 0;
}
.s123-module-services.layout-2 .service-item .fa-stack img {
    width:1em;
    height:auto;
}
.s123-module-services.layout-2 .service-item .fa-stack.no-img-layout-2 {
    width:0;
    margin-inline:0;
}
.s123-page-data-services.layout-2 p {
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-page-data-services.layout-2 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-services.layout-3 .service {
    padding-top:32px;
    padding-bottom:32px;
    text-align:center;
}
.s123-module-services.layout-3 .service > * {
    clear:both;
}
.s123-module-services.layout-3 .service > h3 {
    margin-top:0;
}
.s123-module-services.layout-3 .service a {
    opacity:1;
}
.s123-module-services.layout-3 .service img,
.s123-module-services.layout-3 .service .services_illustration_video {
    max-width:296px;
    max-height:166px;
    margin-bottom:15px;
}
.s123-module-services.layout-3 .service p {
    min-height:4.5em;
}
.s123-module-services.layout-3 .service .service-icon {
    text-align:center;
    min-width:150px;
}
.s123-module-services.layout-3 .service .service-icon i {
    font-size:150px;
}
.s123-module-services.layout-3 .service .service-icon img {
    width:150px;
}
@media ( min-width:768px ) {
    .s123-module-services.layout-3 .service {
        padding:48px;
        text-align:left;
    }
    .s123-module-services.layout-3 .service > * {
        clear:none;
    }
    html[dir=rtl] .s123-module-services.layout-3 .service {
        text-align:right;
    }
    .s123-module-services.layout-3 .service img,
    .s123-module-services.layout-3 .service .service-icon,
    .s123-module-services.layout-3 .service .services_illustration_video {
        max-width:358px;
        max-height:201px;
        margin-bottom:8px;
        margin-right:50px;
        float:left;
    }
    .s123-module-services.layout-3 .service:nth-child(even) img,
    .s123-module-services.layout-3 .service:nth-child(even) .service-icon {
        margin-right:0;
        margin-left:50px;
        float:right;
    }
    html[dir=rtl] .s123-module-services.layout-3 .service img,
    html[dir=rtl] .s123-module-services.layout-3 .service .service-icon {
        margin-right:0;
        margin-left:50px;
        float:right;
    }
    html[dir=rtl] .s123-module-services.layout-3 .service:nth-child(even) img,
    html[dir=rtl] .s123-module-services.layout-3 .service:nth-child(even) .service-icon {
        margin-left:0;
        margin-right:50px;
        float:left;
    }
}
.s123-module-services.layout-3 .service .servcies-more-link {
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-page-data-services.layout-3 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-services.layout-4 {
    padding:50px 0;
}
.s123-module-services.layout-4 .features-container {
    margin-bottom:-30px;
}
.s123-module-services.layout-4 .service-item p {
    white-space:pre-wrap;
    word-wrap:break-word;
    overflow:hidden;
    margin-bottom:5px;
}
.s123-module-services.layout-4 .service-link {
    text-decoration:none;
    display:block;
}
.s123-module-services.layout-4 .service-item {
    padding:51px 20px;
    margin-bottom:30px;
    display:flex;
    flex-direction:column;
}
.s123-module-services.layout-4 .service-item .service-video-container {
    width:130px;
    height:130px;
    align-self:center;
    border-radius:100%;
    overflow:hidden;
    margin:5px;
}
.s123-module-services.layout-4 .service-item .fa-stack {
    width:130px;
    height:130px;
}
.s123-module-services.layout-4 .service-item .service-video-container .services_illustration_video {
    width:100%;
    height:auto;
}
.s123-module-services.layout-4 .service-item .fa-stack {
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    margin:5px;
    align-self:center;
}
.s123-module-services.layout-4 .service-item .fa-stack img {
    width:1em;
    height:auto;
}
.s123-page-data-services.layout-4 p {
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-module-services.layout-4 .service-item h4 {
    margin:32px 0 16px 0;
}
@media(max-width:767px) {
    .s123-module-services.layout-4 .service-item h4 {
        margin-bottom:8px;
    }
}
.s123-module-services.layout-4 .service-item .fa-stack.fix-primary-icon-color > i {
    background:#fff;
}
.s123-page-data-services.layout-4 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-services.layout-6 {
    padding:50px 0;
}
.s123-module-services.layout-6 .features-container {
    margin-bottom:-85px;
}
.s123-module-services.layout-6 .service-item p {
    white-space:pre-wrap;
    word-wrap:break-word;
    opacity:0.7;
    width:90%;
    font-weight:400;
}
.s123-module-services.layout-6 .service-item {
    display:flex;
    flex-flow:row;
    margin-bottom:56px;
}
.s123-module-services.layout-6 .service-item .service-video-container {
    width:3rem;
    height:3rem;
    border-radius:100%;
    overflow:hidden;
    display:flex;
    justify-content:center;
    flex-grow:1;
}
.s123-module-services.layout-6 .service-item .service-video-container .services_illustration_video {
    width:100%;
    height:100%;
}
.s123-module-services.layout-6 .service-item .service-img-container {
    width:4.7em;
    display:flex;
    justify-content:center;
}
.s123-module-services.layout-6 .service-item .service-text-container {
    text-align:left;
    margin-left:32px;
}
html[dir="rtl"] .s123-module-services.layout-6 .service-item .service-text-container {
    text-align:right;
    margin-left:0;
    margin-right:32px;
}
.s123-module-services.layout-6 .service-item h4 {
    margin-top:0;
}
.s123-module-services.layout-6 .service-item .more-link {
    font-weight:600;
}
.s123-module-services.layout-6 .service-item .fa-stack i {
    line-height:normal;
}
.s123-module-services.layout-6 .service-item .fa-stack img {
    width:2em;
    height:auto;
}
.s123-module-services.layout-6 .service-item .fa-stack[data-is-image="true"] {
    width:1.5em;
    height:1.5em;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.s123-page-data-services.layout-6 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-services.layout-7 {
    padding:50px 0;
}
.s123-module-services.layout-7 .features-container {
    margin-bottom:-30px;
}
.s123-module-services.layout-7 .service-item p {
    white-space:pre-wrap;
    word-wrap:break-word;
    overflow:hidden;
    width:70%;
    margin:auto;
    margin-bottom:32px;
    opacity:0.8;
}
.s123-module-services.layout-7 .service-item {
    margin-bottom:51px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.s123-module-services.layout-7 .service-item .service-video-container {
    width:99px;
    height:99px;
    align-self:center;
    border-radius:100%;
    overflow:hidden;
    margin:5px 5px 27px 5px;
}
.s123-module-services.layout-7 .service-item .service-video-container .services_illustration_video {
    width:100%;
    height:100%;
}
.s123-module-services.layout-7 .service-item .fa-stack {
    margin:5px;
}
.s123-module-services.layout-7 .service-item .fa-stack[data-is-icon="true"] {
    display:inline-flex;
    align-items:center;
    justify-content:center;
}
.s123-module-services.layout-7 .service-item .fa-stack[data-is-icon="true"] i {
    font-size:0.6em;
}
.s123-module-services.layout-7 .service-item .fa-stack img {
    width:0.6em;
    height:auto;
}
.s123-module-services.layout-7 .service-item .fa-stack[data-is-image="true"] {
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
}
.s123-page-data-services.layout-7 p {
    white-space:pre-wrap;
    word-wrap:break-word;
    margin-bottom:32px;
}
.s123-module-services.layout-7.layout-7 h4 {
    margin-top:27px;
    margin-bottom:16px;
}
@media(max-width:767px) {
    .s123-module-services.layout-7.layout-7 h4 {
        margin-top:19px;
        margin-bottom:8px;
    }
}
.s123-module-services.layout-7 .service-item .servcies-more-link {
    align-self:center;
    white-space:pre-wrap;
    word-wrap:break-word;
}
.s123-page-data-services.layout-7 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-services.layout-8 {
    padding:50px 0;
}
.s123-module-services.layout-8 .service-item-row {
    margin:0;
}
.s123-module-services.layout-8 .services-item-container {
    margin-bottom:50px;
    padding:0;
}
@media(max-width:767px) {
    .s123-module-services.layout-8 .services-item-container {
        flex-direction:column;
        align-items:center;
    }
}
.s123-module-services.layout-8 .services-category .row:last-child .services-item-container {
    margin-bottom:0;
}
.s123-module-services.layout-8 .services-item-container .service-item {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:10px;
}
.s123-module-services.layout-8 .services-item-container .service-img-container {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:15px;
    height:250px;
    width:250px;
}
.s123-module-services.layout-8 .service-item .service-video-container {
    height:250px;
    width:250px;
    margin-bottom:15px;
}
.s123-module-services.layout-8 .services-item-container.background-primary-color a,
.s123-module-services.layout-8 .services-item-container.bg-primary-black a {
    color:#fff;
}
.s123-module-services.layout-8 .services-item-container.background-primary-color a .svg-m,
.s123-module-services.layout-8 .services-item-container.bg-primary-black a .svg-m {
    background:#fff;
}
.s123-module-services.layout-8 .services-item-container .service-text-container {
    width:250px;
}
@media(min-width:768px) {
    .s123-module-services.layout-8 .services-item-container .service-img-container,
    .s123-module-services.layout-8 .service-item .service-video-container {
        height:160px;
        width:160px;
        margin-bottom:0;
    }
    .s123-module-services.layout-8 .services-item-container .service-text-container {
        width:calc(100% - 160px);
        padding-left:40px;
        text-align:left;
    }
    html[dir=rtl] .s123-module-services.layout-8 .services-item-container .service-text-container {
        text-align:right;
        padding-right:40px;
        padding-left:0;
    }
}
.s123-module-services.layout-8 .service-item .service-video-container .services_illustration_video {
    width:100%;
    height:100%;
}
.s123-module-services.layout-8 .service-item .fa-stack i,
.s123-module-services.layout-8 .service-item .fa-stack img {
    width:100%;
    height:100%;
}
.s123-module-services.layout-8 .service-item .fa-stack.fix-primary-icon-color > i {
    background:#fff;
}
.s123-module-services.layout-8 .service-item .fa-stack {
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    border-radius:8px;
}
.s123-module-services.layout-8 .service-item .more-link {
    font-weight:600;
}
.s123-page-data-services.layout-8 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
.s123-module-services.layout-9 {
    padding:50px 0;
}
.s123-module-services.layout-9 .service-grid {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;
}
.s123-module-services.layout-9 .service-grid.grid-2 {
    grid-template-columns:repeat(2,1fr);
}
.s123-module-services.layout-9 .service-grid.grid-4 {
    grid-template-columns:repeat(4,1fr);
}
@media(max-width:768px) {
    .s123-module-services.layout-9 .service-grid,
    .s123-module-services.layout-9 .service-grid.grid-2,
    .s123-module-services.layout-9 .service-grid.grid-4 {
        grid-template-columns:repeat(2,1fr);
        grid-gap:20px;
    }
}
@media(max-width:480px) {
    .s123-module-services.layout-9 .service-grid,
    .s123-module-services.layout-9 .service-grid.grid-2,
    .s123-module-services.layout-9 .service-grid.grid-4 {
        grid-template-columns:repeat(1,1fr);
        grid-gap:20px;
    }
}
.s123-module-services.layout-9 .service-item-wrap .service-link {
    text-decoration:none;
    cursor:pointer;
}
.s123-module-services.layout-9 .service-item {
    text-align:left;
}
html[dir="rtl"] .s123-module-services.layout-9 .service-item {
    text-align:right;
}
.s123-module-services.layout-9 .service-item h4 {
    margin:32px 0 16px 0;
    font-weight:bold;
}
@media(max-width:767px) {
    .s123-module-services.layout-9 .service-item h4 {
        margin:24px 0 8px 0;
    }
}
.s123-module-services.layout-9 .service-item p {
    overflow-wrap:anywhere;
}
.s123-module-services.layout-9 .service-item .service-video-container {
    width:100%;
    height:200px;
}
@media(max-width:767px) {
    .s123-module-services.layout-9 .service-item .service-video-container {
        height:184px;
    }
}
.s123-module-services.layout-9 .service-item .service-video-container .services_illustration_video {
    width:100%;
    height:100%;
}
.s123-module-services.layout-9 .service-item .fa-stack {
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    align-self:center;
    width:100%;
    height:200px;
    border-radius:8px;
}
@media(max-width:767px) {
    .s123-module-services.layout-9 .service-item .fa-stack {
        height:184px;
    }
}
.s123-module-services.layout-9 .service-item .fa-stack img {
    width:100%;
    height:100%;
}
.s123-module-services.layout-9 .service-item .fa-stack .svg-m {
    height:100%;
    width:100%;
    display:flex;
}
.s123-page-data-services.layout-9 .services-category:not([data-categories-filter="s123-g-show-all"]) {
    display:none;
}
